html {
    font-size: 16px;
}
body{
    font-family: "Lucida Sans", sans-serif;
    margin: 0 auto;
    width: 70%;
}
h1{
    font-family: Roboto, sans-serif;
    font-size: 3.0vw;
    letter-spacing: 0.2vw;
}
fieldset{
    border: 2px solid darkblue;
    border-radius: 5px;
    margin: 0;
    vertical-align: middle;
    height: 88%;
}
fieldset.circular-label label{
    border: 1px solid darkblue;
    border-radius: 6px;
    padding: 3px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    background-color: #f8f8f8;
}
legend{
    font-weight: bold;
}
label {
    white-space: nowrap;
}
input{
    border-color: black;
    border-width: 0px;
    border-bottom-width: 1px;
    outline: none;
    padding: 5px;
 }
input:focus{
    border-bottom-width: 2px;
    background-color: #f8f8f8;
}
.container{
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    grid-gap: .5em;
    grid:
    [row1-start]  "tit tit tit tit tit tit tit tit tit tit tit dat" [row1-end]
    [row2-start]  "ide ide ide ide ide ide ide ide ide ide ide ant" [row2-end]
    [row3-start]  "pre pre pre pre pre pre pre pre pre pre adv adv" [row3-end]
    [row4-start]  "cli cli cli cli cli cli cli cli cli cli cli cli" [row4-end]
    [row5-start]  "med med med med med med med med med med med med" [row5-end]
    [row6-start]  "ale ale ale ale ale ale ale ale ale ale ale ale" [row6-end]
    [row7-start]  "fis fis fis fis fis fis fis fis fis fis fis vit" [row7-end]
    [row8-start]  "via via via via via via via via via via via via" [row8-end]
    [row9-start]  "lab lab lab lab lab lab lab lab lab lab lab lab" [row9-end]
    [row10-start] "exa exa exa exa exa exa exa exa exa exa exa exa" [row10-end]
    [row11-start] "not not not not not not not not not not not not" [row11-end]
    [row12-start] "pro pro pro pro pro pro pro pro pro pro pro pro" [row12-end]
    [row13-start] "psc psc psc psc psc psc psc psc psc psc car car" [row13-end]
    [row14-start] "asa asa asa asa asa asa bot bot bot bot bot bot" [row14-end]
    [row15-start] "... ... ... ... ... ... ... ... ... ... ... ..." [row15-end];
}
#titulo{
grid-area: tit;
justify-self: center;
}
#date-field{grid-area: dat; align-self: end;}
#ident{grid-area: ide;}
#antrop{grid-area: ant;}
#previas{grid-area: pre;}
#adversos{grid-area: adv;}
#av-clinica{grid-area: cli;}
#medic{grid-area: med;}
#alergias{grid-area: ale;}
#fisico{grid-area: fis;}
#sinais-vitais{grid-area: vit;}
#va{grid-area: via;}
#lab{grid-area: lab;}
#exames{grid-area: exa;}
#anotacoes{grid-area: not;}
#proposta{grid-area: pro;}
#prescricao{grid-area: psc;}
#carimbo{grid-area: car;}
#asa{grid-area: asa;}
#botoes{grid-area: bot;}

#previas input[type=text]{width:47%;}
#adversos input[type=text], #alerg input[type=text],
#medi input[type=text], #anotacoes input[type=text]{width:99%; font-size:1.1em;}
.container-clinica{
    display:grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.clinica{padding: 7px;}
.container-va{
    display:grid;
    grid-gap: 1.5em .5em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 3.5em;
    margin-bottom: 10px;
    text-align: center;
}
.container-lab{
    display:grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.input-pequeno input{width: 5em;}
#alerg, #vad{border: 2px solid red;}
#fisico input{width: 75%; font-size: 1.1em;}
#exames label{min-width: 8em;}
#exames input{width: 72%; font-size:1.4em;}
#proposta input{
    width: 25%;
    text-align: center;
}
#medicacoes {
    width: 100%;
}
#prescricao input[type=text]{width:90%;}
#carimbo{
    position: relative;
    top: .5em;
    border: 2px solid darkblue;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    height: 90%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-flow:column nowrap;
}
#asa{
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items: stretch;
    font-size: 1.3em;
    text-align: center;
    }
#asa input{
    font-size: 1.2em;
    padding: 0 1.5em;
    }
.btn-save {
    background-color: darkblue;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-save:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}