body {
    width: 100%;
    margin: auto;
}

p {
text-align: justify;
}

#termo_container{
    display: grid;
        background: white;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr 1fr;
    justify-items: strech;
    align-items: center;
    grid-gap: 3em;
}

#termo_titulo{
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
}

.mt-5{
    margin-top: 5px;
}

#termo_corpo{
    grid-column: 2/3;
    grid-row: 2/3;
}

#termo_assinatura{
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content:space-around;
    font-size: .85em;
    letter-spacing: .1em;

}

.traco {
    text-decoration: overline;
}

#termo_data{
    font-size: .9em;
    letter-spacing: .03em;
    align-self: flex-end;
    text-align: center;
    grid-column: 2/3;
    grid-row: 3/4;
}