{% load static %}
<html lang="pt-BR">
<head>
	<title>Ficha de Avaliação Pré-Anestésica</title>
	<meta charset="UTF-8">
	<meta name="author" content="Lécio dos Anjos Bourbon Filho">
	<meta name="keywords" content="anestesia, avaliação pré-anestésica, ficha, anestesiologia">
	<meta name="description" content="Rascunho do projeto de uma ficha de avaliação pré-Anestésica">
	<meta name="application-name" content="Avaliação Pré-Anestésica">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'ficha.css' %}" media="screen">
	<link rel="stylesheet" href="{% static 'imprimir_ficha.css' %}" media="print">
	<!-- FONTES: -->
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>

<body>
<form action="{% url 'ficha' %}" method="post">
		{% csrf_token %}
	<div class="container">
		<div id="titulo">
			<h1 align="center">AVALIAÇÃO PRÉ-ANESTÉSICA</h1>
		</div>
	<section id="date-field" class="grid-item">
			<fieldset><label>Data: </label><input id="data" name="data" type="date"
			{% if form.data.value != None %}value="{{ form.data.value|stringformat:'s' }}"{% endif %}></fieldset>
		</section>
		<section id="ident" class="grid-item">
			<fieldset>
				<legend>IDENTIFICAÇÃO</legend>
				<label>Nome: </label><input autofocus required name="nome" id="nome" type="text"
				                            placeholder="Nome Completo"
				                            maxlength="100" {% if form.nome.value != None %}value="{{ form.nome.value|stringformat:'s' }}"{% endif %}>
				<label>D.N.:<input name="dn" id="dn" type="date"
				{% if form.dn.value != None %}value="{{ form.dn.value|stringformat:'s' }}"{% endif %}></label>
				<label>Sexo:<input name="sexo" type="radio" value="1"
				                   {% ifequal form.sexo.value "1" %}checked{% endifequal %}><label>M</label>
							<input name="sexo" type="radio" value="2"
							       {% ifequal form.sexo.value "2" %}checked{% endifequal %}><label>F</label></label>
				<label>CPF:<input id="cpf" name="cpf" type="text" maxlength="14"
				{% if form.cpf.value != None %}value="{{ form.cpf.value|stringformat:'s' }}"{% endif %}></label>
				<label>Hospital:<input id="hosp" name="hosp" type="text" maxlength="25"
				{% if form.hosp.value != None %}value="{{ form.hosp.value|stringformat:'s' }}"{% endif %}></label>
				<label>Convênio:<input id="convenio" name="convenio" type="text" maxlength="25"
				{% if form.convenio.value != None %}value="{{ form.convenio.value|stringformat:'s' }}"{% endif %}></label>
				<label>Cirugia:<input id="cirurgia" name="cirurgia" type="text" maxlength="100"
				{% if form.cirurgia.value != None %}value="{{ form.cirurgia.value|stringformat:'s' }}"{% endif %}></label>
				<label>Cirugião:<input id="cirurgiao" name="cirurgiao" type="text" maxlength="60"
				{% if form.cirurgiao.value != None %}value="{{ form.cirurgiao.value|stringformat:'s' }}"{% endif %}></label>
			</fieldset>
		</section>
		<section id="antrop" class="grid-item">
			<fieldset class="circular-label  input-pequeno">
				<legend>DADOS ANTROPOMÉTRICOS</legend>
				<label>Peso: </label><input id="peso" name="peso" type="text"
			{% if form.peso.value != None %}value="{{ form.peso.value|stringformat:'s' }}"{% endif %}>(kg)<br>
				<label>Altura: </label><input id="altura" name="altura" type="text"
			{% if form.altura.value != None %}value="{{ form.altura.value|stringformat:'s' }}"{% endif %}>(cm)<br>
				<label>IMC:</label><input id="imc" name="imc" type="text"
			{% if form.imc.value != None %}value="{{ form.imc.value|stringformat:'s' }}"{% endif %}>(kg/m²)
			</fieldset>
		</section>

		<section id="previas" class="grid-item">
			<fieldset>
				<legend>CIRURGIAS / ANESTESIAS PRÉVIAS</legend>
				<input name="n_previa" type="checkbox" value="True" {% if form.n_previa.value %} checked {% endif %}><label>Nenhuma</label><br>
				<input name="c_previa" type="text" placeholder="Cirurgia" maxlength="100"
				{% if form.c_previa.value != None %}value="{{ form.c_previa.value|stringformat:'s' }}"{% endif %}>
				<input name="a_previa" type="text" placeholder="Anestesia" maxlength="100"
				{% if form.a_previa.value != None %}value="{{ form.a_previa.value|stringformat:'s' }}"{% endif %}><br>
			</fieldset>
		</section>
		<section id="adversos" class="grid-item">
			<fieldset>
				<legend>EVENTOS ADVERSOS</legend>
				<input name="n_adversos" type="checkbox" value="True" {% if form.n_adversos.value %} checked {% endif %}><label>Nenhum</label><br>
				<input name="adversos" type="text"
				       placeholder="Eventos Adversos em anestesias prévias"
				       {% if form.adversos.value != None %}value="{{ form.adversos.value|stringformat:'s' }}"{% endif %}><label> </label><br>
			</fieldset>
		</section>
		<section id="av-clinica" class="grid-item">
			<fieldset>
				<legend>AVALIAÇÃO CLÍNICA</legend>
				<div class="container-clinica">
					<fieldset class="clinica" id="cap-funcional">
						<legend>Capacidade Funcional</legend>
						<input name="mets" type="radio" value="1" {% ifequal form.mets.value "1" %}checked{% endifequal %}><label> > 4 METs</label><br>
						<input name="mets" type="radio" value="2" {% ifequal form.mets.value "2" %}checked{% endifequal %}><label> < 4 METs</label><br>
						<input name="mets" type="radio" value="0" {% ifequal form.mets.value "0" %}checked{% endifequal %}><label> Impossível avaliar</label><br>
					</fieldset>

					<fieldset class="clinica" id="cardio">
						<legend>Cardio Circulatório</legend>
						<input name="cardio_neg" value="True" {% if form.cardio_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo </label><br>
						<input name="cardio_has" value="True" {% if form.cardio_has.value %} checked {% endif %}
						       type="checkbox"><label>Hipertensão </label><br>
						<input name="cardio_arr" value="True" {% if form.cardio_arr.value %} checked {% endif %}
						       type="checkbox"><label>Arritmia </label><br>
						<input name="cardio_cor" value="True" {% if form.cardio_cor.value %} checked {% endif %}
						       type="checkbox"><label>Coronariopatia </label><br>
						<input name="cardio_icc" value="True" {% if form.cardio_icc.value %} checked {% endif %}
						       type="checkbox"><label>Insuficiência Cardíaca </label><br>
						<input name="cardio_out" value="True" {% if form.cardio_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="neuro">
						<legend>Neurológico</legend>
						<input name="neuro_neg" value="True" {% if form.neuro_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="neuro_avc" value="True" {% if form.neuro_avc.value %} checked {% endif %}
						       type="checkbox"><label>AVC prévio</label><br>
						<input name="neuro_cef" value="True" {% if form.neuro_cef.value %} checked {% endif %}
						       type="checkbox"><label>Cefaléia</label><br>
						<input name="neuro_con" value="True" {% if form.neuro_con.value %} checked {% endif %}
						       type="checkbox"><label>Convulsão</label><br>
						<input name="neuro_lme" value="True" {% if form.neuro_lme.value %} checked {% endif %}
						       type="checkbox"><label>Lesão medular</label><br>
						<input name="neuro_out" value="True" {% if form.neuro_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="resp">
						<legend>Respiratório</legend>
						<input name="resp_neg" value="True" {% if form.resp_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="resp_asm" value="True" {% if form.resp_asm.value %} checked {% endif %}
						       type="checkbox"><label>Asma</label><br>
						<input name="resp_dpo" value="True" {% if form.resp_dpo.value %} checked {% endif %}
						       type="checkbox"><label>DPOC</label><br>
						<input name="resp_tbg" value="True" {% if form.resp_tbg.value %} checked {% endif %}
						       type="checkbox"><label>Tabagismo</label><br>
						<input name="resp_iva" value="True" {% if form.resp_iva.value %} checked {% endif %}
						       type="checkbox"><label>IVAS Recente</label><br>
						<input name="resp_out" value="True" {% if form.resp_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="gastro">
						<legend>Gastrointestinal</legend>
						<input name="gastro_neg" value="True" {% if form.gastro_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="gastro_rge" value="True" {% if form.gastro_rge.value %} checked {% endif %}
						       type="checkbox"><label>Reflugo Gastro-esofágico</label><br>
						<input name="gastro_gas" value="True" {% if form.gastro_gas.value %} checked {% endif %}
						       type="checkbox"><label>Gastrite</label><br>
						<input name="gastro_vom" value="True" {% if form.gastro_vom.value %} checked {% endif %}
						       type="checkbox"><label>Vômito/Diarréia</label><br>
						<input name="gastro_obs" value="True" {% if form.gastro_obs.value %} checked {% endif %}
						       type="checkbox"><label>Obstrução Intestinal</label><br>
						<input name="gastro_out" value="True" {% if form.gastro_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="endocrino">
						<legend>Endócrino-metabólico</legend>
						<input name="endocrino_neg" value="True" {% if form.endocrino_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="endocrino_dia" value="True" {% if form.endocrino_dia.value %} checked {% endif %}
						       type="checkbox"><label>Diabetes</label><br>
						<input name="endocrino_dti" value="True" {% if form.endocrino_dti.value %} checked {% endif %}
						       type="checkbox"><label>Disfunção Tireoideana</label><br>
						<input name="endocrino_dlp" value="True" {% if form.endocrino_dlp.value %} checked {% endif %}
						       type="checkbox"><label>Dislipidemia</label><br>
						<input name="endocrino_out" value="True" {% if form.endocrino_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="renal">
						<legend>Renal</legend>
						<input name="renal_neg" value="True" {% if form.renal_neg.value %} checked {% endif %}
						       type="checkbox"><label> Negativo</label><br>
						<input name="renal_irc" value="True" {% if form.renal_irc.value %} checked {% endif %}
						       type="checkbox"><label>Insuficiência Renal Crônica</label><br>
						<input name="renal_ira" value="True" {% if form.renal_ira.value %} checked {% endif %}
						       type="checkbox"><label>Insuficiência Renal Aguda </label><br>
						<input name="renal_dia" value="True" {% if form.renal_dia.value %} checked {% endif %}
						       type="checkbox"><label>Diálise </label><br>
						<input name="renal_out" value="True" {% if form.renal_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras </label><br>
					</fieldset>
					<fieldset class="clinica" id="hem">
						<legend>Hematológico-Infeccioso</legend>
						<input name="hem_neg" value="True" {% if form.hem_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="hem_coa" value="True" {% if form.hem_coa.value %} checked {% endif %}
						       type="checkbox"><label>Coagulopatia</label><br>
						<input name="hem_ane" value="True" {% if form.hem_ane.value %} checked {% endif %}
						       type="checkbox"><label>Anemia</label><br>
						<input name="hem_tra" value="True" {% if form.hem_tra.value %} checked {% endif %}
						       type="checkbox"><label>Transfusão Prévia</label><br>
						<input name="hem_hep" value="True" {% if form.hem_hep.value %} checked {% endif %}
						       type="checkbox"><label>Hepatite</label><br>
						<input name="hem_hiv" value="True" {% if form.hem_hiv.value %} checked {% endif %}
						       type="checkbox"><label>HIV </label><br>
						<input name="hem_out" value="True" {% if form.hem_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
					<fieldset class="clinica" id="musc">
						<legend>Músculo-Esquelético</legend>
						<input name="musc_neg" value="True" {% if form.musc_neg.value %} checked {% endif %}
						       type="checkbox"><label>Negativo</label><br>
						<input name="musc_lom" value="True" {% if form.musc_lom.value %} checked {% endif %}
						       type="checkbox"><label>Lombalgia</label><br>
						<input name="musc_des" value="True" {% if form.musc_des.value %} checked {% endif %}
						       type="checkbox"><label>Desvio da coluna</label><br>
						<input name="musc_ati" value="True" {% if form.musc_ati.value %} checked {% endif %}
						       type="checkbox"><label>Artrite</label><br>
						<input name="musc_ato" value="True" {% if form.musc_ato.value %} checked {% endif %}
						       type="checkbox"><label>Artrose</label><br>
						<input name="musc_dis" value="True" {% if form.musc_dis.value %} checked {% endif %}
						       type="checkbox"><label>Distrofia Muscular</label><br>
						<input name="musc_out" value="True" {% if form.musc_out.value %} checked {% endif %}
						       type="checkbox"><label>Outras</label><br>
					</fieldset>
				</div>
			</fieldset>
		</section>
		<section id="medic" class="grid-item">
			<fieldset id="medi">
				<legend>MEDICAÇÕES EM USO</legend>
				<input name="medicacoes" id="medicacoes" type="text" placeholder="Medicações de uso contínuo..."
				{% if form.medicacoes.value != None %}value="{{ form.medicacoes.value|stringformat:'s' }}"{% endif %}>
				<input name="medicacoes2" id="medicacoes2" type="text"
				{% if form.medicacoes2.value != None %}value="{{ form.medicacoes2.value|stringformat:'s' }}"{% endif %}>
			</fieldset>
		</section>
		<section id="alergias" class="grid-item">
			<fieldset id="alerg">
				<legend>ALERGIAS</legend>
				<input name="alergias" type="text" placeholder="Alergias conhecidas a medicações ou alimentos..."
				{% if form.alergias.value != None %}value="{{ form.alergias.value|stringformat:'s' }}"{% endif %}>
			</fieldset>
		</section>
		<section id="fisico" class="grid-item">
			<fieldset class="circular-label">
				<legend>EXAME FÍSICO</legend>
				<label>Geral:</label><input type="text" id="geral" name="geral"
			{% if form.geral.value != None %}value="{{ form.geral.value|stringformat:'s' }}"{% endif %}><br>
				<label>ACV:</label> <input type="text" id="acv" name="acv"
			{% if form.acv.value != None %}value="{{ form.acv.value|stringformat:'s' }}"{% endif %}><br>
				<label>AR:</label> <input type="text" id="ar" name="ar"
			{% if form.ar.value != None %}value="{{ form.ar.value|stringformat:'s' }}"{% endif %}><br>
				<label>Abd:</label> <input type="text" id="abd" name="abd"
			{% if form.abd.value != None %}value="{{ form.abd.value|stringformat:'s' }}"{% endif %}><br>
				<label>Ext:</label> <input type="text" id="ext" name="ext"
			{% if form.ext.value != None %}value="{{ form.ext.value|stringformat:'s' }}"{% endif %}><br>
			</fieldset>
		</section>
		<section id="sinais-vitais" class="grid-item">
			<fieldset class="circular-label  input-pequeno">
				<legend>SINAIS VITAIS</legend>
				<label>P.A.=</label> <input type="number" id="pas" name="pas"
			{% if form.pas.value != None %}value="{{ form.pas.value|stringformat:'s' }}"{% endif %}>
				x <input type="number" id="pad" name="pad"
			{% if form.pad.value != None %}value="{{ form.pad.value|stringformat:'s' }}"{% endif %}><br>
				<label>F.C.=</label> <input type="number" id="fc" name="fc"
			{% if form.fc.value != None %}value="{{ form.fc.value|stringformat:'s' }}"{% endif %}><br>
				<label>F.R.=</label> <input type="number" id="fr" name="fr"
			{% if form.fr.value != None %}value="{{ form.fr.value|stringformat:'s' }}"{% endif %}><br>
				<label>T º =</label> <input type="text" id="temp" name="temp"
			{% if form.temp.value != None %}value="{{ form.temp.value|stringformat:'s' }}"{% endif %}>
			</fieldset>
		</section>
		<section id="va" class="grid-item">
			<fieldset>
				<legend>VIAS AÉREAS</legend>
				<div class="container-va">
					<fieldset class="vias-aereas">
						<legend>Mallampati</legend>
						<input name="mallampati" type="radio" value="1"
						{% ifequal form.mallampati.value "1" %}checked{% endifequal %}> <label>I</label>
						<input name="mallampati" type="radio" value="2"
						{% ifequal form.mallampati.value "2" %}checked{% endifequal %}> <label>II</label>
						<input name="mallampati" type="radio" value="3"
						{% ifequal form.mallampati.value "3" %}checked{% endifequal %}> <label>III</label>
						<input name="mallampati" type="radio" value="4"
						{% ifequal form.mallampati.value "4" %}checked{% endifequal %}> <label>IV</label>
					</fieldset>

					<fieldset class="vias-aereas">
						<legend>Distância Esterno-Mento</legend>
						<input name="distem" type="radio" value="1"
						{% ifequal form.distem.value "1" %}checked{% endifequal %}> <label>> 12cm</label>
						<input name="distem" type="radio" value="2"
						{% ifequal form.distem.value "2" %}checked{% endifequal %}> <label>< 12cm</label>
					</fieldset>

					<fieldset class="vias-aereas">
						<legend>Mobilidade Cervical</legend>
						<input name="mobcer" type="radio" value="1"
						{% ifequal form.mobcer.value "1" %}checked{% endifequal %}> <label>Boa</label>
						<input name="mobcer" type="radio" value="2"
						{% ifequal form.mobcer.value "2" %}checked{% endifequal %}> <label>Limitada</label>
					</fieldset>

					<fieldset class="vias-aereas">
						<legend>Abertura Oral</legend>
						<input name="aboral" type="radio" value="1"
						{% ifequal form.aboral.value "1" %}checked{% endifequal %}>> 4cm <label></label>
						<input name="aboral" type="radio" value="2"
						{% ifequal form.aboral.value "2" %}checked{% endifequal %}>< 4cm <label></label>
					</fieldset>

					<fieldset class="vias-aereas">
						<legend>Prótese Dentária</legend>
						<input name="protese" type="radio" value="1"
						{% ifequal form.protese.value "1" %}checked{% endifequal %}>Não <label></label>
						<input name="protese" type="radio" value="2"
						{% ifequal form.protese.value "2" %}checked{% endifequal %}>Sim <label></label>
					</fieldset>

					<fieldset class="vias-aereas" id="vad">
						<legend>Via Aérea Difícil</legend>
						<input name="vad" type="radio" value="1"
						{% ifequal form.vad.value "1" %}checked{% endifequal %}>Não <label></label>
						<input name="vad" type="radio" value="2"
						{% ifequal form.vad.value "2" %}checked{% endifequal %}>Sim <label></label>
					</fieldset>
				</div>
			</fieldset>
		</section>
		<section id="lab" class="grid-item">
			<fieldset class="circular-label input-pequeno">
				<legend>EXAMES LABORATORIAIS</legend>
				<div class="container-lab">
					<label>Hb<input class="lab" type="text" id="hb" name="hb"
					{% if form.hb.value != None %}value="{{ form.hb.value|stringformat:'s' }}"{% endif %}></label>
					<label>Ht<input class="lab" type="text" id="ht" name="ht"
					{% if form.ht.value != None %}value="{{ form.ht.value|stringformat:'s' }}"{% endif %}></label>
					<label>Leuco<input class="lab" type="text" id="leuco" name="leuco"
					{% if form.leuco.value != None %}value="{{ form.leuco.value|stringformat:'s'}}"{% endif %}></label>
					<label>Plaq<input class="lab" type="text" id="plt" name="plt"
					{% if form.plt.value != None %}value="{{ form.plt.value|stringformat:'s'}}"{% endif %}></label>
					<label>Glicemia<input class="lab" type="text" id="gli" name="gli"
					{% if form.gli.value != None %}value="{{ form.gli.value|stringformat:'s'}}"{% endif %}></label>
					<label>Uréia<input class="lab" type="text" id="u" name="u"
					{% if form.u.value != None %}value="{{ form.u.value|stringformat:'s'}}"{% endif %}></label>
					<label>Cr<input class="lab" type="text" id="cr" name="cr"
					{% if form.cr.value != None %}value="{{ form.cr.value|stringformat:'s'}}"{% endif %}></label>
					<label>Na<input class="lab" type="text" id="na" name="na"
					{% if form.na.value != None %}value="{{ form.na.value|stringformat:'s'}}"{% endif %}></label>
					<label>K<input class="lab" type="text" id="k" name="k"
					{% if form.k.value != None %}value="{{ form.k.value|stringformat:'s'}}"{% endif %}></label>
					<label>TS<input class="lab" type="text" id="ts" name="ts"
					{% if form.ts.value != None %}value="{{ form.ts.value|stringformat:'s'}}"{% endif %}></label>
					<label>TC<input class="lab" type="text" id="tc" name="tc"
					{% if form.tc.value != None %}value="{{ form.tc.value|stringformat:'s'}}"{% endif %}></label>
					<label>INR<input class="lab" type="text" id="inr" name="inr"
					{% if form.inr.value != None %}value="{{ form.inr.value|stringformat:'s'}}"{% endif %}></label>
					<label>TP<input class="lab" type="text" id="tp" name="tp"
					{% if form.tp.value != None %}value="{{ form.tp.value|stringformat:'s'}}"{% endif %}></label>
					<label>TTPA<input class="lab" type="text" id="ttpa" name="ttpa"
					{% if form.ttpa.value != None %}value="{{ form.ttpa.value|stringformat:'s'}}"{% endif %}></label>
					<!--<label><input type="number" id=""></label>-->
				</div>
			</fieldset>
		</section>
		<section id="exames" class="grid-item">
			<fieldset class="circular-label">
				<legend>EXAMES COMPLEMENTARES</legend>
				<label>ECG</label><input type="text" id="ecg" name="ecg"
			{% if form.ecg.value != None %}value="{{ form.ecg.value|stringformat:'s' }}"{% endif %}><br>
				<label>ECO</label><input type="text" id="eco" name="eco"
			{% if form.eco.value != None %}value="{{ form.eco.value|stringformat:'s' }}"{% endif %}><br>
				<label>Radiografia</label><input type="text" id="rx" name="rx"
			{% if form.rx.value != None %}value="{{ form.rx.value|stringformat:'s' }}"{% endif %}><br>
				<label>T. Ergométrico</label><input type="text" id="ergo" name="ergo"
			{% if form.ergo.value != None %}value="{{ form.ergo.value|stringformat:'s' }}"{% endif %}><br>
				<label>Outros</label><input type="text" id="outroex" name="outroex"
			{% if form.outroex.value != None %}value="{{ form.outroex.value|stringformat:'s' }}"{% endif %}><br>
			</fieldset>
		</section>
		<section id="anotacoes" class="grid-item">
			<fieldset>
				<legend>ANOTAÇÕES</legend>
				<input name="anotacoes" id="anot" type="text" placeholder="Outras observações importantes..."
				{% if form.anotacoes.value != None %}value="{{ form.anotacoes.value|stringformat:'s' }}"{% endif %}>
				<input name="anotacoes2" id="anotacoes2" type="text"
				{% if form.anotacoes2.value != None %}value="{{ form.anotacoes2.value|stringformat:'s' }}"{% endif %}>
			</fieldset>
		</section>
		<section id="proposta" class="grid-item">
			<fieldset>
				<label>Anestesia Proposta:<input type="text" name="proposta"
			{% if form.proposta.value != None %}value="{{ form.proposta.value|stringformat:'s' }}"{% endif %}></label>
				<label>Jejum Pré-operatório:<input type="text" name="jejum"
			{% if form.jejum.value != None %}value="{{ form.jejum.value|stringformat:'s' }}"{% endif %}></label>
			</fieldset>
		</section>
		<section id="prescricao" class="grid-item">
			<fieldset id="lista-prescricao">
				<legend>PRESCRIÇÃO PRÉ-ANESTÉSICA</legend>
				<label>1.</label><input type="text" name="prescricao"
			{% if form.prescricao.value != None %}value="{{ form.prescricao.value|stringformat:'s' }}"{% endif %}><br>
				<label>2.</label><input type="text" name="prescricao2"
			{% if form.prescricao2.value != None %}value="{{ form.prescricao2.value|stringformat:'s' }}"{% endif %}><br>
				<label>3.</label><input type="text" name="prescricao3"
			{% if form.prescricao3.value != None %}value="{{ form.prescricao3.value|stringformat:'s' }}"{% endif %}><br>
			</fieldset>
		</section>
		<section id="carimbo" class="grid-item">
			CARIMBO E ASSINATURA
		</section>
		<section id="asa" class="grid-item">
			<fieldset>
				ASA:
				<input name="asa" type="number" min="1" max="5"
				{% if form.asa.value != None %}value="{{ form.asa.value|floatformat }}"{% endif %}>
			</fieldset>
		</section>
		<section id="botoes" class="grid-item">
			<fieldset>
				<input class="btn-save" name="fim" type="submit" value="SALVAR">
				<input class="btn-save" name="fim" type="submit" value="SALVAR  E IMPRIMIR">
				<label><input name="fim" type="checkbox" checked>IMPRIMIR TERMO DE CONSENTIMENTO</label>
			</fieldset>
		</section>
	</div>
</form>
<script src="{% static 'ficha.js' %}"></script>
</body>
</html>